.navtab {
	padding-bottom: 40px;
	background-color: var(--promo-bg-color);
	border-radius: 0 0 10px 10px;
}

.navtab__list {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	gap: 10px;
	list-style: none;
}

.navtab__item {
	padding: 10px 23px;
	border-radius: 10px;
	background-color: #303030;
}

.navtab__link {
	text-decoration: none;
	color: #fff;
	font-weight: 500;
	line-height: 16px;
	font-size: 12px;
	cursor: pointer;
	transition: all .3s ease-in-out;
}

.navtab__link:hover{
	opacity: .7;
}