.navigation__list {
	display: flex;
	gap: 16px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.navigation__link {
	font-weight: 500;
	font-size: 13px;
	line-height: 18px;
	color: #fff;
	text-decoration: none;
	transition: all .3s ease-in-out;
}

.navigation__link_type_saved-movies {
	font-weight: 400;
}

.navigation__link_type_profile {
	padding: 0;
	font-size: 14px;
	line-height: 16px;
}

.navigation__link:hover {
	opacity: .7;
}

.navigation__item-icon {
	padding: 8px 20px;
	border-radius: 20px;
	background-color: #313131;
}

@media screen and (max-width: 1024px) {
	.navigation__list {
		display: none;
	}

	.navigation__item-icon {
		display: none;
	}
}